.sidebar {
    width: 215px;
    height: 475px;
}

.sidebar-main-content {
    overflow-y: hidden;
    height: 350px;
    position: relative;
    top: -60px;
    overflow: scroll;
  }

.sidebar-navbar {
    position: relative;
    height: 75px;
    z-index: 997;
    width: 75px;
    margin: 3px auto;
    top: -5px;
}

.sidebar-nav-wrapper img {
    margin: 2px auto;
}

.sidebar-nav-wrapper {
    position: relative;
    height: 100%;
}

.sidebar-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.sidebar-footer {
    position: relative;
    top: 340px;
    display: block;
    width: 215px;
}

.sidebar-footercontainer {
    margin-left: -0px!important;
    padding-left: -4px!important;
    bottom: 0;
}

.sidebar-footercontainer img {
    width: 100%;
}

.sidebar-newsHeader {
    border-radius: 25px 25px 0 0;
    background-color: rgb(172, 48, 24);
    color: rgb(241, 240, 236);
    width: 190px;
    box-sizing: border-box;
    padding: 5px 10px 5px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 11px;
    text-align: center;
}

.sidebar-newsBlock {
    width: 190px;
    box-sizing: border-box;
    margin: 0 auto 10px auto;
    background-color: rgb(241, 240, 236);
    padding: 2px 15px 5px;
    border-radius: 0 0 25px 25px;
    font-size: 12px;
}

.sidebar-newsButton {
    background-color: rgb(172, 48, 24);
    color: rgb(241, 240, 236);
    padding: 5px;
    width: 50px;
    margin: 5px auto 2px auto;
    display: block;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.sidebar-newsBlock a {
    text-decoration: none;
    color: rgb(241, 240, 236);
}
